.firstEllipse {
  position: absolute;
  left: -100px;
  bottom: -200px;
}

.secondEllipse {
  position: absolute;
  right: -100px;
  top: -150px;
}

.bigStar {
  position: absolute;
  right: 0;
  top: -50px;
}

.smallFirstStar {
  position: absolute;
  right: 150px;
  top: -150px;
}

.smallSecondStar {
  position: absolute;
  right: 200px;
  top: -200px;
}
