.firstEllipse {
  position: absolute;
  left: 0;
  top: -150px;
}

.secondEllipse {
  position: absolute;
  right: 0;
  top: -150px;
}

.bigStar {
  position: absolute;
  right: 0;
  top: -50px;
}

.smallFirstStar {
  position: absolute;
  left: 50px;
  top: -50px;
}

.smallSecondStar {
  position: absolute;
  left: 50vw;
  top: -20px;
}

.smallThirdStar {
  position: absolute;
  left: 30vw;
  top: -10px;
}