.Gallery {
  color: white;
  margin-bottom: 181px;
  position: relative;
}

.photo {
  border-radius: 16px;
}

.title {
  font-family: 'Clash Display', serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  margin-bottom: 48px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 314px 1fr;
}

.leftContent {
  margin-top: 48px;

  .text {
    line-height: 140%;
    margin-bottom: 84px;
    padding-right: 25px;
  }
}

.topRightGrid {
  display: grid;
  grid-template-columns: 625px 1fr;
  margin-bottom: 139px;
  @media (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
  }

  .rightPhotos {
    display: grid;
    gap: 16px;
    @media (max-width: 1400px) {
      display: flex;
      gap: 20px;
    }
  }
}

.bottomRightGrid {
  line-height: 140%;
}
