.Question {
  color: #FFFFFF;
  margin-bottom: 180px;
  position: relative;
  min-height: 855px;
}

.title {
  font-family: 'Clash Display', serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.content {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.leftBlock {
  .text {
    line-height: 140%;
    margin-bottom: 50px;
  }

  .questionMark {
    position: absolute;
    top: -220px;
    left: -350px;
  }
}

.cards {
  display: grid;
  gap: 24px;
}

.ellipse {
  position: absolute;
  right: -100px;
  top: 50px;
  @media (max-width: 1400px) {
    right: 0;
  }
}

.mediumStar {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.smallStar {
  position: absolute;
  right: -50px;
  bottom: 300px;
  @media (max-width: 1400px) {
    right: 0;
  }
}
