.ellipse1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.ellipse2 {
  position: absolute;
  right: 0;
  bottom: -350px;
}

.smallStar1 {
  position: absolute;
  right: 150px;
  bottom: -150px;
}

.smallStar2 {
  position: absolute;
  right: 50%;
  bottom: 100px;
}

.bigStar {
  position: absolute;
  right: 150px;
  bottom: 150px;
}