.Steps {
  margin-bottom: 300px;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 174px 1fr;
  @media (max-width: 1400px) {
    display: flex;
    justify-content: space-between;
  }
}

.line {
  @media (max-width: 1400px) {
    display: none;
  }
}

.title {
  font-family: 'Clash Display', serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  margin-bottom: 70px;
  color: white;
  text-align: center;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  gap: 144px;
}

.rightCards {
  position: relative;
  top: 124px;
}
