.ContactGradientWrapper {
  background: linear-gradient(350deg, #9C37FDB2, #15BFFDB2);
  padding: 1px;
  margin-bottom: 148px;
  color: white;
  border-radius: 20px;
}

.Contact {
  background: #0C102D;
  border-radius: 20px;
  padding-bottom: 56px;
  text-align: center;

  .title {
    font-family: 'Clash Display', serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    margin: 1px 0 16px 0;
    padding-top: 55px;
  }

  .text {
    line-height: 140%;
    margin-bottom: 24px;
  }
}
.formWrapper {
  margin: 0 20px;
}

.inputWrapper {
  padding-bottom: 15px;
}

.button {
  margin-top: 7px;
}

.form {
  max-width: 493px;
  margin: 0 auto;
}
