.ellipse {
  position: absolute;
  right: -100px;
  top: 50px;
  @media (max-width: 1400px) {
    right: 0;
  }
}

.mediumStar {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.smallStar {
  position: absolute;
  right: -50px;
  bottom: 300px;
  @media (max-width: 1400px) {
    right: 0;
  }
}