.QuestionsCardGradientWrapper {
  background: linear-gradient(to bottom, #15BFFDB2, #9C37FDB2);
  border-radius: 8px;
  padding: 1px;
  clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
}

.QuestionsCard {
  border-radius: 8px;
  background: #181c37;
  max-width: 703px;
  padding: 27px 24px;
  display: grid;
  grid-template-columns: 1fr 42px;
  clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
}

.content {
  height: 24px;
  overflow-y: hidden;
  transition-property: height;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);

  .title {
    font-family: 'Clash Display', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 0;
  }

  .text {
    margin-top: 16px;
    line-height: 140%;
  }
}

.selector {
  position: relative;
}

.selectorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -17px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

.selectedContent {
  height: 110px;
}