.button {
  height: 72px;
  background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #0A1482;
  cursor: pointer;

  &:hover {
    color: #3B48D0;
  }

  &:active {
    color: #FFFFFF;
  }
}

.disabled {
  color: #0A1482;
  background: #166d77;
  cursor: auto;

  &:hover {
    color: #0A1482;
  }

  &:active {
    color: #0A1482;
  }
}