.About {
  color: white;
  margin-bottom: 180px;
  position: relative;
}

.title {
  font-family: 'Clash Display', serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mentors{
  text-align: center;
  .title {
    font-family: 'Clash Display', serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: white;
    margin-bottom: 12px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mentorsCard {
    position: relative;
    bottom: 20px;
  }
  .centerCard {
    bottom: 60px;
  }
}

.text {
  line-height: 140%;
  padding-right: 150px;
  margin-top: 90px;
}

.firstEllipse {
  position: absolute;
  left: 0;
  top: -150px;
}

.secondEllipse {
  position: absolute;
  right: 0;
  top: -150px;
}

.bigStar {
  position: absolute;
  right: 0;
  top: -50px;
}

.smallFirstStar {
  position: absolute;
  left: 50px;
  top: -50px;
}

.smallSecondStar {
  position: absolute;
  left: 50vw;
  top: -20px;
}

.smallThirdStar {
  position: absolute;
  left: 30vw;
  top: -10px;
}